<div class="row">
    <div class="col-12 col-md-6 col-lg-4 col-xlg-4">
        <div class="card bg-success text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">Bienvenidos</h1>
                        <h6 class="text-white">Administradores</h6>
                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="far fa-eye display-5 op-3 text-dark"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>